@font-face {
    font-family: 'Cafe24Dongdong';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24Dongdong/Cafe24Dongdong.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24Dongdong/Cafe24Dongdong.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24Dongdong/Cafe24Dongdong.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24Dongdong/Cafe24Dongdong.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24Dongdong/Cafe24Dongdong.ttf') format("truetype");
    font-display: swap;
}